<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	
	<display-name>bookstore</display-name>
	
	<!-- Settings for actions (*.do) -->	
	<context-param>
		<param-name>/login.do</param-name>
		<param-value>jp.co.comnic.javalesson.webapp.bookstore.controller.LoginAction</param-value>
	</context-param>
	
	<!-- Settings for JSP pages -->	
	<servlet>
		<servlet-name>Login</servlet-name>
		<jsp-file>/login.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	
</web-app>